._center {
  text-align: center !important; }

.action-picker {
  position: fixed;
  bottom: 1.4em;
  right: 1.4em;
  z-index: 1; }
  .action-picker > .action-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto; }
    .action-picker > .action-container i[class^='icon-i']::before {
      vertical-align: text-top; }
    .action-picker > .action-container.sub {
      margin-bottom: 0.7em;
      margin-right: 0.4em; }
    .action-picker > .action-container .main-action {
      z-index: 2; }
    .action-picker > .action-container .sub-action {
      min-width: 1.9em;
      width: 1.9em;
      height: 1.9em; }
    .action-picker > .action-container > .action-label {
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;
      border-radius: 0.5em;
      position: absolute;
      bottom: calc(50% - 10px);
      right: 4.5em;
      white-space: nowrap;
      background-color: #000;
      color: #fff;
      height: 1.5em;
      line-height: 1.5em;
      padding: 0 10px;
      opacity: 0; }

.overlay {
  z-index: 10;
  overflow: auto;
  position: absolute;
  width: 920px;
  height: 80%;
  top: 20%;
  left: calc(50% - 390px);
  background-color: white;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  @media (max-width: 1200px) {
    .overlay {
      width: 750px;
      left: calc(50% - 300px); } }
  @media (max-width: 1024px) {
    .overlay {
      width: 660px;
      left: calc(50% - 330px); } }
  @media (max-width: 670px) {
    .overlay {
      width: 500px;
      left: calc(50% - 250px); } }
  @media (max-width: 500px) {
    .overlay {
      width: 400px;
      left: calc(50% - 200px); } }
  .overlay.-right {
    overflow-x: hidden;
    width: 50%;
    min-width: 320px;
    max-width: 800px;
    height: 100%;
    top: 0;
    right: 0;
    left: auto; }
  .overlay.-left {
    overflow-x: hidden;
    width: 50%;
    min-width: 320px;
    max-width: 800px;
    height: 100%;
    top: 0;
    left: 0;
    right: auto; }
  .overlay.-top {
    bottom: 80%;
    top: 0; }
  .overlay .overlay-container {
    display: block;
    height: 85%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .overlay .overlay-container > .title {
      font-size: 2em;
      -webkit-flex: 1 20%;
      flex: 1 20%; }
    .overlay .overlay-container > .subtitle {
      font-size: 1.3em;
      -webkit-flex: 1 20%;
      flex: 1 20%; }
    .overlay .overlay-container > .infosection {
      font-size: 1.3em;
      -webkit-flex: 1 58%;
      flex: 1 58%; }
      .overlay .overlay-container > .infosection > *:not(.no-pane-margin) {
        margin: 30px;
        box-sizing: border-box; }
    .overlay .overlay-container > .button-container {
      -webkit-flex: 0 0 2%;
      flex: 0 0 2%;
      text-align: center;
      padding: 20px; }

.overlay-mask {
  top: 0;
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); }

.mdl-header {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: blue; }
  .mdl-header > .header-title {
    font-size: 2em; }
  .mdl-header > .header-subtitle {
    font-size: 1em; }
  .mdl-header.header-action > .header-action-container {
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: -28px;
    right: 20px;
    z-index: 1;
    background-color: transparent; }
    .mdl-header.header-action > .header-action-container > .header-action-content {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto; }
    .mdl-header.header-action > .header-action-container > .button-container {
      position: absolute; }
    .mdl-header.header-action > .header-action-container > .mdl-button {
      position: relative; }

.mdl-dialog {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 250px;
  overflow: auto; }
  .mdl-dialog > .mdl-dialog__actions {
    position: absolute;
    bottom: 0;
    right: 0; }
  .mdl-dialog.closed {
    display: none; }

.mdl-dropdown > .mdl-textfield__input {
  height: 18px; }
  .mdl-dropdown > .mdl-textfield__input > i {
    position: absolute;
    right: 0;
    top: calc(50% - 12px); }
  .mdl-dropdown > .mdl-textfield__input > .dropdown-wrapper > .records-container {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    max-height: 700px;
    top: 20px;
    background-color: white;
    border-radius: 2px;
    padding: 16px 0px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; }
    .mdl-dropdown > .mdl-textfield__input > .dropdown-wrapper > .records-container > .record {
      width: auto;
      padding: 0 24px;
      font-size: 15px;
      line-height: 32px;
      color: #000; }
      .mdl-dropdown > .mdl-textfield__input > .dropdown-wrapper > .records-container > .record.-active {
        color: #3F51B5; }
      .mdl-dropdown > .mdl-textfield__input > .dropdown-wrapper > .records-container > .record:hover {
        background-color: #E8E8E8; }

.mdl-snackbar > .mdl-snackbar__action {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0; }

.tab-bar-container > .tab-bar-left-button i {
  color: #fff; }

.tab-bar-container > .tab-bar-right-button i {
  color: #fff; }

.login-container {
  position: absolute;
  text-align: center;
  margin: auto;
  top: calc(50% - 185px);
  left: calc(50% - 185px);
  padding: 10px;
  width: 350px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .login-container > .switch {
    color: #666;
    text-decoration: underline;
    display: block; }
  .login-container > .mdl-button {
    margin-top: 20px; }

.logout {
  cursor: pointer; }

html {
  font-size: 18px; }
  @media (max-width: 1400px) {
    html {
      font-size: 18px; } }
  @media (max-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media (max-width: 500px) {
    html {
      font-size: 12px; } }

body {
  background-color: #F5F5F5;
  color: #000; }

a {
  text-decoration: none;
  color: #666; }

.page {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px 0 24px; }

.mdl-layout__header {
  z-index: 1; }
